*{
    margin: 0;
    padding: 0;
    border: none;
}

hr{
    border: 1px solid #ed3408;
    width: auto;
    margin-top: 50px;
}

span{
    color: #ed3408;
}

body{
    background: #1f2326;
    color: white;
    font-family:'Courgette', cursive;
    box-sizing: border-box;
}

#background-img{
    background-image: url(./assets/bacg04.jpg);
    background-size: cover;
    padding-bottom: 100px;
}

header{
    border-bottom: 5px solid #ed3408;
    /* background-color: black; */
    text-align: center;
    background-image: url(./assets/logo03-opacity.jpeg);
    background-size:contain;
    background-repeat: round;
    height: 500px;
    padding-top: 15px;
    font-size: 2rem;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;  
    margin-bottom: -100px;  
}

main h2{
    font-size:4rem;
    margin-bottom: 50px;
    text-align: center;
}

#galery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 5px;
    position: relative;
    height: 1100px;
    width: 910px;
}

.gallery-img{
    height: 500px;
    width: 300px;
    background: white;
    border: 3px solid #ed3408;
}

.gallery-img:nth-child(1){
    background-image: url(./assets//tatoo06.jpeg);
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 100% 80%, 0% 100%);
    position: absolute;
    left: -70px;
}

.gallery-img:nth-child(2){
    background-image: url(./assets//tatoo05.jpeg);
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 100% 80%, 0% 100%);
    position: absolute;
    right: 303.33px;
}

.gallery-img:nth-child(3){
    background-image: url(./assets//tatoo03.jpeg);
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 100% 80%, 0% 100%);
    position: absolute;
    right: -70px;
}

.gallery-img:nth-child(4){
    background-image: url(./assets//tatoo04.jpeg);
    background-size: cover;
    clip-path: polygon(0% 20%, 100% 0%, 100% 0%, 100% 100%, 0% 100%);
    position: absolute;
    top: 420px;
    left: -70px;  
}

.gallery-img:nth-child(5){
    background-image: url(./assets//tatoo02.jpeg);
    background-size: cover;
    clip-path: polygon(0% 20%, 100% 0%, 100% 0%, 100% 100%, 0% 100%);
    position: absolute;
    right: 303.33px;
    top: 420px;    
}

.gallery-img:nth-child(6){
    background-image: url(./assets//tatoo01.jpeg);
    background-size: cover;
    clip-path: polygon(0% 20%, 100% 0%, 100% 0%, 100% 100%, 0% 100%);
    position: absolute;
    right: -70px;
    top: 420px;
}

footer {
    text-align: center;
}

#title-about{
    font-size: 4rem;
    margin-bottom: 100px;
    margin-top: 50px;
}

#footer-content{
    display: flex;
    flex-direction: column;
}

#tatoo-artist img{
    border-radius: 20px;
    margin-bottom: 50px;
}

#tatoo-artist img:nth-child(1){
    transform: rotate(-9deg);
}

#tatoo-artist img:nth-child(2){
    transform: rotate(7deg);
    margin-left: 100px;
}

#about-text{
    font-size: 1.3rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-bottom: 1px solid #ed3408;
    border-top: 1px solid #ed3408;
    padding: 10px;
}

#italic-description{
    text-align: justify;
}

#contact{
    font-size: 1.5rem;
    margin-top: 100px;
    line-height: 50px;
    text-align: left;
    padding-left: 100px;
}

#contact a{
    text-decoration: none;
    color: white;
}

#contact a:hover{
    color: bisque;
}

@media screen and (max-width: 1200px){

    hr{         
        margin-top: -150px;
    }
    
    #galery{
        width: 600px;
    }
    
    .gallery-img{
        height: 400px;
        width: 200px;
    }

    .gallery-img:nth-child(2){
        right: 200px;
    }

    .gallery-img:nth-child(4){
        top: 380px;
    }

    .gallery-img:nth-child(5){
        right: 200px;
        top: 380px;
    }

    .gallery-img:nth-child(6){
        top: 380px;
    }

    #tatoo-artist img{
        width: 250px;
    }

    #about-text{
        font-size: 1.2rem;
    }
    
}

@media screen and (max-width: 1024px){
    #about-text{
        font-size: 1rem;
    }

    h1{
        font-size: 3rem;
    }

    main h2{
        font-size: 3rem;
    }

    #title-about{
        font-size: 3rem;
    }

    #contact{
        font-size: 1rem;
        line-height: 30px;
    }
}

@media screen and (max-width: 870px){
    #galery{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 25px;
    }
    
    .gallery-img{
        height: 450px;
        width: 250px;
        background: white;
        border: 3px solid #ed3408;
        border-radius: 20px;
    } 

    .gallery-img:nth-child(1){
        clip-path: none;
        position: static;
    }

    .gallery-img:nth-child(2){
        clip-path: none;
        position: static;
    }

    .gallery-img:nth-child(3){
        clip-path: none;
        position: static;
    }

    .gallery-img:nth-child(4){
        clip-path: none;
        position: static;
    }

    .gallery-img:nth-child(5){
        clip-path: none;
        position: static;
    }

    .gallery-img:nth-child(6){
        clip-path: none;
        position: static;
    }

    hr{
        margin-top: 500px;
    }
    
    #about-text{
        font-size: 1.7vw;
    }

    h1{
        font-size: 3rem;
    }

    main h2{
        font-size: 3rem;
    }

    #title-about{
        font-size: 3rem;
    }

    #contact{
        font-size: 1rem;
        line-height: 30px;
    }
}

@media screen and (max-width: 716px){
    #galery{
        grid-column-gap: 5px;
    }

    .gallery-img{
        height: 450px;
        width: 250px;
    } 

    #title-about{
        font-size: 3rem;
        margin-bottom: 50px;
    }

    #tatoo-artist img{
        width: 175px;
    }

    #about-text{
        font-size: 0.85rem;
    }
}

@media screen and (max-width: 672px){
    #galery{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }

    .gallery-img{
        height: 20vh;
        width: 35vw;
    } 

    #title-about{
        font-size: 3rem;
        margin-bottom: 50px;
    }

  #tatoo-artist img{
        width: 175px;
    }

    #about-text{
        font-size: 0.85rem;
    }

    hr{
        margin-top: 200px;
    }
}

@media screen and (max-width: 556px){
    #tatoo-artist{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
     #tatoo-artist img{
        width: 35vw;
    }
}